* {
    font-family: 'uchen';
}

.welcome {
    text-align: center;
}

/* aside section container and contents */
.score-container {
    position: relative;
    float: left;
    width: 25%;
    height: 50%;
    border: 2px solid black;
}

.gameStats {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    text-align: center;
}

/* #gamesPlayed {
   
}

#wins {
    
}

#losses {
    
}

#ties{
    
} */


#clear {
    position: relative;
    left: 39%;
    
}

.inputContainer {
    border: 1px solid black;
    position: relative;
    left: 372px;
    top: 58px;
    width: 50%;
}



#playerInput {
    /* position: absolute; */
    /* border: 2px solid red; */
    height: 100px;
    width: 100px;
    left: 230px;
    top: 197px;
}

#computerInput {
    /* position: absolute; */
    /* border: 2px solid red; */
    height: 100px;
    width: 100px;
    left: 400px;
    top: 197px;
}

#winnerStatement {
    /* position: absolute; */
    /* border: 1px solid blue; */
    width: 100px;
    height: 100px;
    left: 315px;
    top: 328px;
    
}